* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.debug .logo-column {
    background-color: greenyellow;
    
}

.debug .menu-column {
    background-color: greenyellow;
}

.debug .login-column {
    background-color: greenyellow;
}

.debug .col {
    border: dotted 3px black;
}

body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
}

header {
    background-color: aqua;
}

.top-container {
    height: 100px;
    display: flex;
    width: 1170px;
    margin: auto;
    padding: 20px;
    align-items: center;
}

.top-container ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu-column li {
    padding: 0px 20px;
    padding: 20px;

}

#jumbotron {
    background-color: blue;
    height: 500px;
}

.logo-column {
    width: 20%;
    padding: 20px;
    text-align: left;

}

.menu-column {
    width: 60%;

}


.login-column {
    width: 20%;
    padding: 20px;
    text-align: right;

}