* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.debug .logo-column {
    background-color: greenyellow;

}

.debug .menu-column {
    background-color: greenyellow;
}

.debug .login-column {
    background-color: greenyellow;
}

.debug .col {
    border: dotted 3px black;
}

.debug #jumbotron .container1 {
    background-color: palevioletred;
    width: 50%;
    margin: auto;
}

.debug .section-container {
    height: 400px;
}

.debug .big-column {
    background-color: aqua;
}

.debug .small-column {
    background-color: pink;
}

.debug .full-column {
    background-color: green;
}

.debug .footer-top {
    height: 400px;
}

.debug .main-column {
    background-color: pink;
}

.debug .menu-column {
    background-color: aqua;
}

.debug .footer-bottom {
    background-color: aquamarine;
}

.debug .footer-bottom>div {
    background-color: pink;
}

body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
}

header {
    background-color: aqua;
}

.top-container {
    height: 100px;
    display: flex;
    max-width: 1170px;
    margin: auto;
    padding: 20px;
    align-items: center;
}

.top-container ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu-column li {
    padding: 0px 20px;
    padding: 20px;

}

#jumbotron {
    background-color: blue;
    height: 500px;
    padding: 50px 0px;

}

.logo-column {
    width: 20%;
    padding: 20px;
    text-align: left;

}

.menu-column {
    width: 60%;

}


.login-column {
    width: 20%;
    padding: 20px;
    text-align: right;

}

#jumbotron .container1 {
    height: 100%;

}

main .section {
    padding: 50px;
}

.section-container {
    max-width: 1170px;
    padding: 20px 0px;
    display: flex;
    margin: 50px auto;
}

.big-column {
    width: 60%;
}

.small-column {
    width: 40%;
}

.backgrey {
    background-color: grey;
}

.full-column {
    width: 100%;
    color: green;
    padding: 20px 0px;
}

footer {
    background-color: black
}

.footer-top {

    display: flex;
}

.footer-top .main-column {
    width: 30%;
}

.footer-top .menu-column {
    width: 70%;
}

.footer-bottom {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;

}

.footer-container {
    max-width: 1170px;
    margin: auto;
}

.menu-column {
    display: flex;

}

.menu-column>div {
    width: calc(100%/4);
}